<!DOCTYPE html>
<html>
<head>
    <title>Information</title>
</head>
<body>
<h1>Information</h1>
<form action="/estimate" method="post">
    <label for="City">City:</label>
    <select name="City" id="City">
        <option value="-0.812407701">אופקים</option>
        <option value="-0.138466622">אור יהודה</option>
        <option value="0.052158285">אור עקיבא</option>
        <option value="0.665775585">אזור</option>
        <option value="0.161875183">אילת</option>
        <option value="-1.397685899">אלעד</option>
        <option value="0.347517878">אריאל</option>
        <option value="-0.184974635">אשדוד</option>
        <option value="-0.194459395">אשקלון</option>
        <option value="-0.18177642">באר שבע</option>
        <option value="-0.245125854">בית שאן</option>
        <option value="-1.251360259">בית שמש</option>
        <option value="-1.855229216">ביתר עילית</option>
        <option value="-1.572892518">בני ברק</option>
        <option value="1.339624062">בנימינה גבעת עדה</option>
        <option value="-0.135494214">בת ים</option>
        <option value="-0.184485119">גבעת זאב</option>
        <option value="1.185445135">גבעת שמואל</option>
        <option value="1.515759749">גבעתים</option>
        <option value="0.581088369">גדרה</option>
        <option value="0.754605293">גן יבנה</option>
        <option value="1.40129631">גני תקווה</option>
        <option value="-0.498291544">דימונה</option>
        <option value="1.431456516">הוד השרון</option>
        <option value="1.233973545">הרצליה</option>
        <option value="1.509770786">זכרון יעקב</option>
        <option value="0.215769571">חדרה</option>
        <option value="0.403516549">חולון</option>
        <option value="0.422803842">חיפה</option>
        <option value="-0.696804591">טבריה</option>
        <option value="-0.066975227">טירת כרמל</option>
        <option value="0.558888363">יבנה</option>
        <option value="1.113862748">יהוד</option>
        <option value="0.481093591">יקנעם עילית</option>
        <option value="-0.593299346">ירושלים</option>
        <option value="1.859160795">כוכב יאיר</option>
        <option value="0.80245263">כפר יונה</option>
        <option value="1.188811366">כפר סבא</option>
        <option value="0.038950867">כרמיאל</option>
        <option value="-0.562045269">לוד</option>
        <option value="1.207112981">מבשרת ציון</option>
        <option value="-0.325818662">מגדל העמק</option>
        <option value="1.487383083">מודיעין מכבים רעות</option>
        <option value="-2.247237215">מודיעין עילית</option>
        <option value="0.193969072">מעלה אדומים</option>
        <option value="0.078062716">מעלות תרשיחא</option>
        <option value="0.04087778">נהריה</option>
        <option value="-0.164826926">נוף הגליל</option>
        <option value="1.16954156">נס ציונה</option>
        <option value="-0.626306451">נצרת</option>
        <option value="0.296381555">נשר</option>
        <option value="-0.945082417">נתיבות</option>
        <option value="0.094631255">נתניה</option>
        <option value="-0.440898866">עכו</option>
        <option value="-0.388270511">עפולה</option>
        <option value="-0.722451704">ערד</option>
        <option value="0.828512301">פרדס חנה כרכור</option>
        <option value="0.543922502">פתח תקווה</option>
        <option value="-1.012878745">צפת</option>
        <option value="1.274972143">קדימה צורן</option>
        <option value="1.451290438">קרית אונו</option>
        <option value="0.136984067">קרית אתא</option>
        <option value="0.447047951">קרית ביאליק</option>
        <option value="-0.441192675">קרית גת</option>
        <option value="1.242834142">קרית טבעון</option>
        <option value="-0.214001567">קרית ים</option>
        <option value="0.545455975">קרית מוצקין</option>
        <option value="-0.473872943">קרית מלאכי</option>
        <option value="0.138910506">קרית עקרון</option>
        <option value="-0.064807225">קרית שמונה</option>
        <option value="0.702887878">ראש העין</option>
        <option value="0.730347045">ראשון לציון</option>
        <option value="-1.814480033">רהט</option>
        <option value="0.728575488">רחובות</option>
        <option value="-0.460077866">רמלה</option>
        <option value="1.13126834">רמת גן</option>
        <option value="1.685022159">רמת השרון</option>
        <option value="1.210972418">רעננה</option>
        <option value="-0.155388752">שדרות</option>
        <option value="1.727581004">שוהם</option>
        <option value="1.030481601">תל אביב יפו</option>

    </select><br><br>
    <label for="type">סוג הנכס:</label>
    <select name="type" id="type">
        <option value="Apartment">דירה</option>
        <option value="private">בית פרטי</option>
        <option value="Garden_Apartment">דירת גן</option>
        <option value="penthouse">דירת גג</option>
        <option value="private">קוטג'</option>
        <option value="penthouse">דופלקס</option>
        <option value="penthouse">פנטהאוז</option>
        <option value="area">מגרש</option>
    </select><br><br>
    <label for="condition">מצב הנכס:</label>
    <select name="condition" id="condition">
        <option value="renovated">משופץ</option>
        <option value="good_condition">שמור</option>
        <option value="new">חדש</option>
        <option value="not_defined">לא צויין</option>
        <option value="old">ישן</option>
    </select><br><br>
    <label for="furniture">ריהוט:</label>
    <select name="furniture" id="furniture">
        <option value="Full">מלא</option>
        <option value="partial">חלקי</option>
        <option value="not_defined">לא צויין</option>
        <option value=" None">אין</option>
    </select><br><br>
    <label for="Area">שטח:</label><br>
    <input type="number" id="Area" name="Area"><br>
    <label for="room_number">מספר חדרים:</label><br>
    <input type="number" id="room_number" name="room_number"><br>
    <label for="floor">קומה:</label><br>
    <input type="number" id="floor" name="floor"><br>
    <label for="hasElevator">יש מעלית:</label><br>
    <input type="checkbox" id="hasElevator" name="hasElevator" value="1"><br>
    <label for="hasParking">יש חניה:</label><br>
    <input type="checkbox" id="hasParking" name="hasParking" value="1"><br>
    <label for="hasBars">יש סורגים:</label><br>
    <input type="checkbox" id="hasBars" name="hasBars" value="1"><br>
    <label for="hasStorage">יש מחסן:</label><br>
    <input type="checkbox" id="hasStorage" name="hasStorage" value="1"><br>
    <label for="hasBalcony">יש מרפסת:</label><br>
    <input type="checkbox" id="hasBalcony" name="hasBalcony" value="1"><br>
    <label for="handicapFriendly">נגיש לנחים:</label><br>
    <input type="checkbox" id="handicapFriendly" name="handicapFriendly" value="1"><br>
    <label for="hasAirCondition">יש מזגן:</label><br>
    <input type="checkbox" id="hasAirCondition" name="hasAirCondition" value="1"><br>
    <input type="submit" value="Submit">
</form>


</body>
</html>



